.logo {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
}
.ru {
    background-image: url("../../images/logo.jpeg");
}
.en {
    background-image: url("../../images/logoEn.jpeg");
}